{% extends 'openerp_login/base.html' %}
{% block content %}
        <style>
            h1 {
                text-align: center;
            }
            #company_logo {
                display: block;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 20px;
                margin-top: 25px;
                border-radius: 25px;
                border-color: dimgrey;
                border-style: solid;
                border-width: 2px;
                max-width: 450px;
            }
            div {
                text-align: center;
                width: 90%;
                vertical-align: middle;
            }
            .form-group {
                margin-left: auto;
                margin-right: auto;
                width: 30%;
            }
            #company_name {
                margin-left: auto;
                margin-right: auto;
                width: 90%;
                margin-top: 35px;
                margin-bottom: 35px;
                text-transform: capitalize;
                font-size: xx-large;
                border-radius: 25px;
                border-color: dimgrey;
                border-style: solid;
                border-width: 2px;
                background-color: white;
            }
            .help-block {
                color: red;
            }
            .btn{
                margin-bottom: 25px;
            }
        </style>
        {% if logo %}
            <img id="company_logo" src="data:image;base64,{{logo}}"/>
        {% else %}
            <div id="company_name"/> {{company_name}} </div>
        {% endif %}
        <form method="POST">
            {{ form.csrf_token }}
            <div class="form-group" id="login">
                {{ form.login.label }}
                {{ form.login(class_="form-control") }}
                {% if form.login.errors %}
                {% for e in form.login.errors %}
                <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(class_="form-control") }}
                {% if form.password.errors %}
                {% for e in form.password.errors %}
                <p class="help-block">{{ e }}</p>
                {% endfor %}
                {% endif %}
            </div>
            <input type="submit" value="Login" class="btn btn-default"/>
        </form>
{% endblock %}
